@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:'Montserrat';
    src: url('../../assets/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style:  normal;
}

@font-face {
    font-family: 'inter';
    src: url('../../assets/fonts/static/Inter-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../../assets/fonts/static/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden ;
}
.sidebar{
    background:url(../../assets/images/side-bar-bg.svg);
    min-width: 243px;
    max-width: 243px;
    height: 100vh;
    position: fixed;
}
.side-nav{
    height: 100%;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center; 
    color: #FFFFFF;    
    background: #C4C4C4;
    border-radius: 8px;
}
.side-menu.active{
    background: rgba(255, 255, 255, 0.31);
    border-left: 6px solid #F5703A;
}
.side-link{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF !important;    
    text-decoration: none !important;
}
.side-link:hover{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;    
    text-decoration: none !important;
}
.side-link.active, .side-link.active:hover{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;    
    text-decoration: none !important;

}

.name{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.main{
    display: flex;
    width: 100%;
    background:  #faf8f8;
}
.body-main{
    background: #faf8f8;
    margin-left: 310px;
    width: 75%;
}


.small-card{   
    background: #F5703A;
    border-radius: 16px;    
    width: 317px;
    height: 255px;
}
.small-card p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.small-card h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;    
}
.small-card span{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 29px; 
    color: #FFFFFF;
}
.small-card button{
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F5703A;        
}
.small-card .wallet-balance{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
}

.history{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 18px;
    color: #000000;
    
}
.see-history, .see-history:hover{
    text-decoration: none !important;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.7);
}
.view-history{
   
    background: rgba(245, 112, 58, 0.03);
}
.bg-white{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 18px !important;
    margin-left: 18px !important;
    border-radius: 4px;
    /* height: 65px; */
}
.price{
    font-family: 'Inter', sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 18px !important;
    color: #F5703A !important;
}
.bold-text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    
}
.bg-white p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 11px;  
    color: #000000;    
}
.history-date{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;    
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.7);
}

.orange-text{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 18px; 
    color: #F5703A;    
}
.delivery-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 265px;    
}
.delivery-cardd{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 265px;    
}

::placeholder{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #000000;
    padding-left: 35px;
}
.payment-icon{
    position: absolute;
    left: 8.25%;
    top: 20.75%;

}

.payment-icon-2{
    position: absolute;
    left: 8.25%;
    top: 38.75%;
}

.payment-icon-3{
    position: absolute;
    left: 8.25%;
    top: 54.75%;
}

.payment-icon-4{
    position: absolute;
    left: 8.25%;
    top: 86.75%;
}

textarea{
    width: 286px;
    height: 64px;
    background: #EEEEEE;
    border: 1px solid rgba(48, 48, 48, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    
}
.delivery-card-heading{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #000000;    
}
.delivery-card-sub-heading{
    font-family: 'Inter', sans-serif;
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em; 
    color: rgba(0, 0, 0, 0.3);    
}
input{
    font-family: 'Inter', sans-serif;
    width: 286px;
    height: 32px;   
    background: #EEEEEE;
    border: 1px solid rgba(48, 48, 48, 0.3);
    box-sizing: border-box;
    border-radius: 4px;    
}
input[type="radio"]{
    background-color: red !important;
    height: 15px !important; 
}
.arrow-icon{
    position: absolute;
    left: 72.62%;
    top: 91.3%;
}
.card-payment{
    position: absolute;
    left: 146px;
    top: -46px;
    background-color: #EEEEEE !important;
    border: 1px solid rgba(48, 48, 48, 0.3) !important;
    box-sizing: border-box !important;
    border-radius: 4px !important;
}
.bank-transfer{
    position: absolute;
    left: 146px;
    top: -46px;    
}
.ussd{
    position: absolute;
    left: 146px;
    top: -46px;    
}
.confirm{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F5703A;
    border-radius: 4px;
}

.wallet-info{
    border: 1px solid  #b1aeae;
    border-radius: 5px;
}
.checked-radio-btn{
    position: absolute;
    left: 288px;
    top: 56px;
}
.radio-btn{
    position: absolute;
    left: 286px;
    top: 94px;
}
.radio-btn-2{
    position: absolute;
    left: 287px;
    top: 135px;    
}
.payment-history-heading{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}
.heading{
    text-align: center;
}
.payment-history{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px; 
    color: #000000;
}
.payment-type-div{
    width: 286px;
    height: 32px;
    background: #EEEEEE;
    border: 1px solid rgba(48, 48, 48, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
}
.payment-type-div p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #000000;    
}




/* user info */



/* user dropdown */
.sign-out-btn{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: block;
    min-width: 50px;
    color: #000000;
    background: #e2dddd;
    border-radius: 4px;    
}


/* user dropdown */
.drop-btn {
    border: none !important;
    cursor: pointer;
}


.droppdown {
    display: inline-block;
}
.dropdown-conntent {
    display: none;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
} 

  .show {display: block;}
/* end user dropdown */


/* dropdown */
.dropbtn {
  position: absolute;
  left: 26px;
    top: 244px;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none !important;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background: none !important;
}

.dropdown {
  position: absolute;
  left: 245px;
    top: -41px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -220px;
  top: 290px;
  background-color:#EEEEEE;
  min-width: 284px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}





/* modal */
.modal-btn{
    font-family: 'Inter', sans-serif;
    text-align: center !important;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;    
    background: #F5703A;
    border-radius: 8px;
}
.modal-content h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight:600;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #F5703A;
}
.modal-content h4{
    font-family: 'Inter', sans-serif;
    text-align: center !important;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 18px;
    color: #000;  
}